.resume {
	font-family: 'Roboto Slab', serif;
	font-weight:400;
}

body { padding-top: 70px; }

h2 {
	text-decoration: underline;
	font-weight:400;
	font-size:25px;
}
.exp {

	padding-left:15px;
	border:dotted black 1px;
	list-style-type:none;
	width:30%;
}
.header {
	border: solid black 2px;
	text-align:center;
	height:120px;
	width:70%;
	margin:auto;
	padding-bottom:20px;
	display: none;
}
.header h1 {
	font-family: 'Muli', sans-serif;
	font-style: italic;
	font-size:45px;

}
.bar {
	width: 50%;
	top:-25px;
	margin-left:auto;
	margin-right:auto;
}
.bar li {
	display: inline;
	text-align:center;
	font-style:italic;
	padding-left:20px;
	padding-right:20px;
}
.summary {
	padding:10px;
		display: none;

}
.experience {
	padding:10px;
		display: none;
}
.experience p{
	height:5px;
}
.relevantAssignments {
	padding:10px;
		display: none;
}
.education {
	padding:10px;
		display: none;
}
.title {
	height:5px;
}
.degree {
	height:10px;
	padding-left:30px
}

.date {
	font-size:15px;
	font-style:italic;

	float:right;

}
table tr td:nth-child(2){
	vertical-align: top;
}
table tr td:nth-child(1){
	vertical-align: bottom;
}

.awardsandinterests{
	display:none;
}
.footer {
	border:solid black 2px;
	width:50%;
	text-align: center;
	margin:auto;
	display:none;
}
.footer ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.footer ul li {
	display: inline;
}
.footer ul li a {
	text-decoration: none;
}

@-webkit-keyframes hello {
	0% {color:black; top:0px;}
	50% {color:red; top:-10px;}
	100% {color:black;top:0px;}
}
#heading2:hover{
	font-weight:400;
	color:#ff0000;
	-webkit-animation: hello 2s linear 0s infinite alternate;
}
